<html>
  <head>
    <title>Alpha Blog</title>
      
    <style>
      
      body { 
        font-family: helvetica, sans-serif;
        background-color: lightgrey;
        width: 1200px;
      }
      
      .header {
        background-color: white;
        height: 150px;
        align-self: center;
      }
      
      .menu {
        vertical-align: center;
        
      }
      
      ul.menu {
        list-style-type: none;
      }
      li.menu {
        display: inline;
      }
      
      
      .main {
        height: 500px;
        
      }
      
      .footer {
        background-color: orange;
        height:100px;
      }
    
    </style>
  </head>
  <body>
    
    <div class="header">
      <img src="alpha.png" alt="logo">
      <p>This is the blog where you'll find everything you want</p>
    </div>
    
    <div class="menu">
      <ul class="menu">
        <li class="menu"><%= link_to 'about', about_path %></li>
        <li class="menu"><%= link_to 'Alpha Blog', articles_path %></li>
        <li class="menu">test</li>
        <li class="menu">test</li>
      </ul>
    </div>
    
    <div class="main">
      <h1> Alpha Blog, the best blog ever</h1>
      <p>This blog was made to ensure that I am learning ruby</p>
      
      
      
    </div>
    
    <div class="footer">
      <p>Contact us at 6190 887 6534</p>
      
      
    </div>
      
  
  
  
  
  
  
  </body>
</html>

